#mapOverlayContent h2, h3 {
  margin: 10px;
  font-size: 20px;
}

#mapOverlayContent h3 {
    font-size: 18px;
}

#mapOverlayContent p {
  font-size: 15px;
  margin: 10px;
  text-align: left;
}

.map-overlay {
    position: absolute;
    top: 50px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    margin-top: 80px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    height: 890px;
    width: 280px;
}

.geocoder {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    margin-top: 80px;
    width: 280px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}
